body {
    font-family: 'Poppins', sans-serif;
    margin: 0;


}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.tow-part {
    width: 50%;
    margin-left: 100px;

}

.tow-part img {
    width: 75%;
}

.flex-container {

    display: flex;
    margin-top: 100px;
}


.welcome-text {
    font-size: 50px;
}

.become-para {
    color: dimgray;
    margin-bottom: 20px;
}

.orange-color {
    color: orange;

}

.btn a {
    text-decoration: none;
    background: -webkit-linear-gradient(blue, rgb(22, 185, 250));
    padding: 10px 40px;
    color: aliceblue;
    border-radius: 5px;
}

.dream-big {
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-big h1 {
    font-size: 50px;
}

.dream-big p {
    color: dimgray;
    text-align: justify;
}